.form-lg {
    display: flex;
    flex-direction: column;
    width: 400px !important;
    height: 560px;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background-image: url(../../../public/image/fundo-lg.jpg);
    border-radius: 30px;
    position: relative;
    top: 0px;
}

#login .form-lg1 {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    position: fixed;
    top: 445px;
} 

#login .field label {
    display: block;
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field input {
    width: 333px;
    height: 33px;
    position: relative;
    left: 0px;
    border-radius: 5px;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}

.register {
    text-decoration: none
}

.logo-esc {
    background-image: url(../../../public/image/logo3.png);
    background-size: 200px;
    background-repeat: no-repeat;
    position: fixed;
    top: 360px;
    width: 200px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
}

.logo-esc:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.fundo-lg {
    background-image: url(../../../public/image/fundo-lg.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}