#login {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    background-color: #b0bfc6;
}

#login .form {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
} 

#login .field label {
    display: block;
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field input {
    width: 100%;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}

.register {
    text-decoration: none
}