.carrosel {
    width: 800px;
    height: 450px;
    position: center;
    margin: 15px

}
.cardServ {
    margin-right: 2em;
    
    
}
.imgServ{
    width: 0px;
    margin: 0px
}

.botaoServ {
    margin-bottom: 1em;
 

}
.font-botao{
    font-style: italic;
    color: #2F3440
}
.d-flex{
    width: 40em;
    position: center;
}
